/* 스타일링 추가 */

/* 사이드바 스타일링 */
.w3-sidebar {
    height: 100%;
    width: 15%; /* 사이드바의 너비를 조절합니다. */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: gray;
    padding-top: 20px;
    color: #fff;
}

/* 콘텐츠 영역 스타일링 */
.w3-main {
    margin-left: 15%; /* 사이드바 너비와 동일한 마진을 설정하여 콘텐츠를 밀어넣습니다. */
}

/* 사이드바 링크 스타일링 */
.w3-sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
}

/* 사이드바 하단 로그인 버튼 위치 조절 */
#loginButton {
    position: absolute;
    bottom: 20px; /* 원하는 아래 여백을 설정합니다. */
}

/* <!-- ====================================================================== --> */

/* article 스타일링 */
article {
    margin-left: 20%; /* 원하는 여백을 설정하여 중앙 정렬합니다. */
}

/* <!-- ====================================================================== --> */

/* 푸터 스타일링 */
footer {
    background-color: gray;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0; /* 아래로 고정 */
    width: 100%; /* 가로 폭을 100%로 설정하여 페이지 전체를 차지하게 합니다. */
}
